@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

*{
    font-family: "Inter", sans-serif;
    margin: 0%;
    padding: 0%;
    
    
}
.parentdiv{
    display: flex;
    justify-content: flex-start;
    background-color: #FFCD9E;
}
.child1{
     margin-top: 80px; 
    margin-left: 200px;
    display: flexbox;
    
}
.mainheading{
    font-weight: 1000;
    color: #282828;
    font-size: 40px;

}
.paragraph{
    color: #484848;
    size: 15px;
    margin-top: 20px;
    line-height: 30px;
}
.boldline{

    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    
    
}
.child1 input{
    
    border-style: solid;
    border-inline-start-width: 4px;
    border-width: 4px;
    border-color: #282828;
    padding: 10px 60px 12px 12px;
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
    margin-left: 0%;
    margin-bottom: 20px;
    
    
}

.child1 button{

    background-color: #282828; 
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    /* margin-top: 10px; */


}
.nospam{

    color: white;
    font-size: 12px;
    margin-left: 25px;
    margin-top: 0px;
    text-align: left;
    
    
}
.child2 img{
    height: 480px;
    width: 500px;
    margin: auto;
    /* margin-top: 30px; */
    /* margin-left: auto; */
    /* margin-right: 100px; */
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-end;
    margin-left: 140px
    ;
}
.fdiv{
background-color: #282828;
height: 148.5px;
width: 1436px;
margin: 0;
padding: 50px;

}

.left{
    display: flex;
    justify-content: left;
    color: white;
    font-size: 15px;
    line-height: 26px;
    margin-left: 145px;

    
}
.right{
    display: flex;
    justify-content: right;
    color: white;
    font-size: 15px;
    line-height: 26px;
    margin-right: 250px;
    /* margin-bottom: 300px; */
    /* margin-top: -50px; */
}
.right1{
    margin-top: -135px;
}
.rightspace{
    margin-bottom: 25px;
}